<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813373912188-oaakedkk49j7911tp8qfd5e9m131uihs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813373912188-oaakedkk49j7911tp8qfd5e9m131uihs</string>
	<key>API_KEY</key>
	<string>AIzaSyBuEawmPm-cywoqVRV1b8k99FIxONUv4po</string>
	<key>GCM_SENDER_ID</key>
	<string>813373912188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ITP312G3.CookBook</string>
	<key>PROJECT_ID</key>
	<string>nyp-sddp-project-y3</string>
	<key>STORAGE_BUCKET</key>
	<string>nyp-sddp-project-y3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813373912188:ios:24686c1f0caa00b57e05f9</string>
	<key>DATABASE_URL</key>
	<string>https://nyp-sddp-project-y3.firebaseio.com</string>
</dict>
</plist>